<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <h1>
      { state.message }
    </h1>

    <raw html="{ props.data.contents }"></raw>
  </body>

  <script>
    //import raw from '../components/raw.riot'

    export default {
      components: {
        // raw
      },
      state: {
        message: 'hello?'
      }
    }
  </script>

</html>
